.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background: #fff;
}
.footer-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 30vh;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 40%;
  height: auto;
}
.title h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  color: #000;
  font-size: 28px;
}
.title h6 {
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: left;
  color: #aeada6;
  font-size: 14px;
}
.form-input {
  width: 50%;
  height: auto;
}
.emailText {
  width: 60%;
  height: 30px;
  border-radius: 4px;
  padding: 4px 10px;
  background: #fff;
  border: 1px solid #aeada6;
}
.subcribe-btn {
  width: 20%;
  height: 40px;
  border-radius: 4px;
  color: #fff;
  padding: 5px 10px;
  background: #3a86ff;
  border: none;
  cursor: pointer;
}
.footer-middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 60vh;
}
.contact {
  width: 30%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.contact-p {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
.contact-span {
  font-size: 16px;
  font-weight: 500;
  color: #aeada6;
}
.link-list {
  width: 20%;
  height: 35vh;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.link-list-ul {
  height: 30vh;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.link-list-ul .link-list-item a {
  font-size: 16px;
  font-weight: 500;
  color: #aeada6;
}
