.cart-main {
  width: 100%;
  height: auto;
  /* margin-top: 50px; */
  background: #f5f5f5;
  padding: 60px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.cart-content {
  width: 95%;
  height: auto;
  /* margin-top: 50px; */
  padding: 10px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 20px;
  font-size: 30px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.back-update-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}
.cart-title,
.cart-order {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #f2f2f2;
  margin-bottom: 10px;
}
.cart-order {
  background: none;
  border-bottom: 1px solid #bebebe;
}
.name-product {
  width: 40%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.image-cart {
  width: 120px;
  height: auto;
}
.name-product-text {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
}
.title-product-cart {
  font-size: 18px;
}
.quantity-btn {
  width: 120px;
  height: 30px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btn {
  background: none;

  font-size: 20px;
  border: none;
  cursor: pointer;
}
/*css cho phần checkout*/
.checkout-cart {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  padding: 0 20px;
}
.proceed {
  width: 40%;
  height: auto;
  background: #f2f2f2;
  margin: 20px 0;
  padding: 10px;
}
.proceed-title,
.proceed-totalmoney {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.proceed-title-cart {
  font-size: 18px;
  color: #3c3c3c;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 5px;
}
.total-money {
  font-size: 26px;
}
.proceed-content {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #bcb7b7;
  /* background: #fff; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.content-sub {
  font-size: 16px;
  color: #918f8f;
}
