#customer {
  float: left;
  width: 100%;
  height: auto;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: fadeIn 2s linear;
}
.main-customer {
  width: 95%;
  height: 86vh;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  background: #fff;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* overflow-y: hidden; */
  position: relative;
}
