.account-content {
  width: 90%;
  height: auto;
  background: #fff;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar-account {
  width: 30%;
  height: 50vh;
  padding: 5px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.account-header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.account-header-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.account-header-text {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.account-header-text p {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 4px;
}
.list-account {
  list-style: none;
  width: 100%;
  padding: 10px 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.list-account-item {
  width: 100%;
  height: 60px;
  text-align: left;
  padding-left: 10px;
  border-bottom: 1px solid #c7c7c7;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list-account-item a {
  color: #171717;
}
.color-item {
  background: #3a86ff;
}
.color-item a {
  margin-left: 5px;
  color: #fff;
}
.color-item:hover a {
  color: #fff;
}
/*css cho phần user information*/
.user-infor {
  width: 70%;
  height: auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.user-infor-title {
  margin-block-end: 0;
  margin-block-start: 0;
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
}

.user-infor-form {
  width: 100%;
  height: auto;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.label-input {
  width: 100%;
  height: auto;
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.section-2 {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.label-input-left,
.label-input-right {
  width: 46%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.label {
  font-size: 13px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
}
.input {
  width: 90%;
  height: 30px;
  border-radius: 4px;
  /* border: none; */
}
/*css cho phần notification*/
