.btn-button {
  width: 160px;
  height: 40px;
  padding: 10px 10px;
  border-radius: 6px;
  background: #3a86ff;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.btn-button:hover {
  width: 160px;
  height: 40px;
  padding: 10px 10px;
  border-radius: 6px;
  background: #ca2b0f;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
/*css cho phần sản phẩn card hiển thị danh sách*/
.slider-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-product {
  width: 18%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 1px solid #000; */
  border-radius: 4px;
  padding: 5px;
  justify-content: flex-start;
  position: relative;
}
.card-image {
  width: 100%;
  height: 50%;
  /* border: 1px solid black; */
  position: relative;
}
.image-prod {
  width: 140px;
  height: auto;
}
.card-content {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.title-product {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 5px 0;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #828282;
}
.description-product {
  text-align: left;
  color: #3a86ff;
  font-size: 12px;
}
.star-rate {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20;
}
.list-start {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.number-rate {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 15px;
  margin-left: 15px;
}

.price-product {
  color: red;
  font-size: 18px;
}
.older {
  text-decoration: line-through;
  color: #000;
}
/*css cho phần */
.sale-product {
  position: absolute;
  background: #fb7c40;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  right: 5px;
  top: 5px;
}
.show-icon {
  width: 20%;
  height: 80%;
  background: #d9d9d9;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  animation: animation-show-icon 1s linear;
  display: none;
}
.list-icon-card {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.list-icon-card li:hover {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: #3a86ff;
  color: #fff;
  padding: 4px;
  border-radius: 50%;
}
/*css phán khi hover vào card*/

.card-product:hover {
  width: 18%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 5px;
  justify-content: flex-start;
  position: relative;
}
.card-product:hover .show-icon {
  width: 20%;
  height: 80%;
  background: #d9d9d9;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  animation: animation-show-icon 2s linear;
}

.card-product:hover .star-rate {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20;
  display: none;
}
/*====================*/
.sort-view-product {
  width: 95%;
  height: 5vh;
  padding: 10px;
  background: #d9d9d9;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.view-product {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  cursor: pointer;
}
.view-product li {
  width: 40px;
}
@keyframes animation-show-icon {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  to {
    opacity: 1;
  }
}
/*css cho phần card list product*/
.view-card-product {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.card-product-list {
  width: 95%;
  height: auto;
  /* border: 1px solid black; */
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-product-list:hover {
  width: 95%;
  height: auto;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-image-list,
.card-button {
  width: 20%;
  height: auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-prod-list {
  width: 140px;
  height: auto;
}
.card-content-list {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.list-description-product {
  /* list-style: none; */
  padding: 0;
  width: 100%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.list-description-product-item {
  width: 100%;
  text-align: left;
  font-size: 14px;
  color: #828282;
}
