.content {
  width: 100%;
  height: auto;
  padding-top: 70px;
}
.navigate {
  padding: 20px 0 20px 10px;
  text-align: left;
}
.main {
  width: 100%;
  height: auto;
  padding: 10px 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
/*css cho phần slider*/
.carousel {
  width: 90%;
  height: 30vh;
  padding: 10px;
  border: 1px solid black;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.carousel-content {
  width: 60%;
  height: 100%;
  padding: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.carousel-content-p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.title-version {
  color: #2898ce;
}
.text-sale {
  font-size: 30px;
  color: #000;
  font-weight: 800;
}
/*css cho phần category và filter*/
.main-content {
  width: 90%;
  height: auto;
  margin-top: 20px;
  padding: 10px;
  /* border: 1px solid black; */
  background: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.category-filter-aside {
  width: 20%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.category-list,
.filter {
  width: 80%;
  height: 50vh;
  padding: 10px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter {
  margin-top: 10px;
}
/*css cho phần show sản phẩm*/
.product-content {
  width: 80%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.title-slider {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-slider-h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 10px 0;
  font-size: 30px;
  font-weight: 400;
  color: #000;
}
