.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 10vh;
  background: #3a86ff;
  position: fixed;
  z-index: 1;
}
.form-submit {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchText {
  width: 80%;
  height: 30px;
  padding: 5px 10px;
  border-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border: none;
}
.searchButton {
  width: 10%;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  background: #000;
  color: #fff;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
}
.list-icon {
  width: 28%;
  height: 100%;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.list-icon-item {
  width: 30px;
  height: auto;
  position: relative;
}
.list-icon-item::before {
  content: "1";
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  background: #000;
  color: #fff;
  font-size: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -10px;
  right: -10px;
}
.list-icon-text {
  margin-right: 5px;
}
.list-icon-text a {
  font-size: 15px;
  color: #4a596a;
}
.list-icon-text a:hover {
  font-size: 15px;
  color: #fff;
}
