html,
body {
  margin: 0;
  padding: 0;
  background: #e5e5e5;
}
body {
  width: 100%;
  height: auto;
}
#container {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}
#sidebar {
  background: #001c41;
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  float: left;
}
.user {
  width: 100%;
  height: 25vh;
  padding: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #eee;
}
.text {
  width: 80%;
  height: 60px;
  /* border: 1px solid red; */
  padding: 0 10px;
}
.h3-user {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 18px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #eee;
}
.p-user {
  width: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.a-user {
  font-size: 13px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  color: #eee;
}
.search-form {
  width: 90%;
  position: absolute;
  float: left;
}
.search-input {
  width: 100%;
  height: 30px;
  border: none;
  background: #eee;
  border-radius: 4px;
  color: #000;
  padding: 0px 10px;
  font-size: 13;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  width: 100%;
  /* padding: 0 10px; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.ul-menu {
  width: 90%;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.li-item {
  width: 90%;
  height: 30px;
  background: none;
  padding: 5px 5px 5px 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 5px;
  text-align: left;
}
.li-item a {
  color: #eee;
  text-align: center;
  font-size: 14px;
  z-index: 999;
}
.li-item:hover {
  cursor: pointer;
  width: 90%;
  height: 30px;
  padding: 5px 5px 5px 10px;
  background: #eee;
  color: #191919;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 5px;
  text-align: left;
}
.li-item a:hover {
  z-index: 999;
  color: #191919;
  text-align: center;
}

/*
@media (max-width: 316px) {
  nav {
    width: 100%;
    padding: 0 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .li-item {
    width: 100%;
    height: auto;
    background: none;
    padding: 5px 5px;
    border: 1px solid #eee;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 5px;
  }
  .li-item a {
    color: #eee;
    text-align: center;
    font-size: 10px;
  }
} */
